<h2>Démonstration 10 - Les custom directives</h2>

<p appHighlight="green" [fontSize]="24">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia modi ab saepe asperiores fugit voluptatibus porro, corporis aut totam incidunt? Repellat, maxime? Odit dolorem quibusdam eligendi corrupti beatae tempora reiciendis.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sed adipisci maiores iste optio facere facilis incidunt alias, accusamus iure earum excepturi ratione laboriosam sapiente eos voluptatem repellat ex illum.
</p>

<p appHighlight>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum aspernatur dolorum inventore deleniti aliquam maiores nam minus, aperiam dolorem ipsam harum ea! Ratione culpa dolores voluptatibus autem? Maiores, sequi blanditiis?
</p>
