<nav>
    <ul>
        <li>État de connexion : {{ isConnectedNavbar }}</li>
    </ul>

    <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/home">Accueil</a></li>

        <li>
            <a routerLink="/demos">Démonstrations</a>
            <ul>
                <li><a routerLink="/demos/demo01">Demo 01</a></li>
                <li><a routerLink="/demos/demo02">Demo 02</a></li>
                <li><a routerLink="/demos/demo03">Demo 03</a></li>
                <li><a routerLink="/demos/demo04">Demo 04</a></li>
                <li><a routerLink="/demos/demo06">Demo 06</a></li>
                <li><a routerLink="/demos/demo07">Demo 07</a></li>
                <li><a routerLink="/demos/demo08">Demo 08</a></li>
                <li><a routerLink="/demos/demo09">Demo 09</a></li>
                <li><a routerLink="/demos/demo10">Demo 10</a></li>
                <li><a routerLink="/demos/demo11">Demo 11</a></li>
                <li><a routerLink="/demos/demo12">Demo 12</a></li>
            </ul>
        </li>

        <li>
            <a routerLink="/exos">Exercices</a>
            <ul>
                <li><a routerLink="/exos/exo01">Exercice 01</a></li>
                <li><a routerLink="/exos/exo03">Exercice 03</a></li>
                <li><a routerLink="/exos/exo04">Exercice 04</a></li>
                <li><a routerLink="/exos/exo07dot1">Exercice 07.1</a></li>
                <li><a routerLink="/exos/exo07dot2">Exercice 07.2</a></li>
                <li><a routerLink="/exos/exo08">Exercice 08</a></li>
                <li><a routerLink="/exos/exo09">Exercice 09</a></li>
                <li><a routerLink="/exos/exo11">Exercice 11</a></li>
                <li><a routerLink="/exos/exo12">Exercice 12</a></li>
            </ul>
        </li>

        <li><a routerLink="admin">Administration</a></li>

    </ul>
</nav>