<h2>Démonstration 02 - Property binding (Two-way binding)</h2>

<p>Ne pas oublier d'ajouter le FormsModule dans app.module.ts</p>
<p>Permet de récupérer la valeur et de la mettre à jour en même temps (bidirectionnel)</p>

<h3>Chaine de caractères :</h3>
<p>Valeur de maVariable1 : {{ maVariable1 }}</p>
<input type="text" [(ngModel)]="maVariable1">

<h3>Number :</h3>
<p>Valeur de maVariable2 {{ maVariable2 }}</p>
<input type="number" [(ngModel)]="maVariable2">

<h3>Booléen :</h3>
<p>Valeur de maVariable3 {{ maVariable3 }}</p>
<input type="checkbox" [(ngModel)]="maVariable3">