<h2>Exercice 07.2 - Convertisseur de température</h2>

<p>Créer une application qui permet de convertir une témpérature en °C à °F et inversément.</p>

<p>Deux pipes, un "toFahrenheit" et "toCelsius" qui permettent de convertir une température d'une unité à l'autre.</p>

<p>Un pipe universel qui permet de convertir vers l'unité souhaité en paramètre du pipe.</p>

<hr>

<h3>ToFahrenheit:</h3>
<label for="">°C to °F</label>
<input type="number" [(ngModel)]="tempCelsiusToFahrenheit">

<p>{{ tempCelsiusToFahrenheit | toFahrenheit }}</p>


<h3>ToCelsius:</h3>
<label for="">°F to °C</label>
<input type="number" [(ngModel)]="tempFahrenheitToCelsius">

<p>{{ tempFahrenheitToCelsius | toCelsius }}</p>


<h3>Temp Converter:</h3>
<input type="number" [(ngModel)]="temp">

<select [(ngModel)]="unite">
    <option value="celsius">Vers Celsius</option>
    <option value="fahrenheit">Vers Fahrenheit</option>
</select>

<p>{{ temp | tempConverter : unite }}</p>
